.class_page1{
    width: 100%;
    height: 1080px;
    position: fixed;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    background: url("../imgs/%E8%83%8C%E6%99%AF%20%E6%8B%B7%E8%B4%9D.jpg");
    background-size: cover;
    z-index: 9;
}
#page_head{
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0;
    margin: 0 auto;
    z-index: 999;
}
#page_head .logo{
    width: auto;
    height: 50px;
    position: absolute;
    top: 0;
    left: 10%;
}
#page_head .logo img{
    position: relative;
    width: 80px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#page_head .menu{
    position: absolute;
    top: 0;
    right: 10%;
}
#page_head ul{
    font-size: 14px;
    list-style: none;
    background-color: #fff;
}
#page_head .dividing_line{
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #333;
}
#page_head ul li{
    color: #111;
    background-color: #fff;
    float: left;
    display: inline-block;
    line-height: 50px;
    padding: 0 10px;
}
#page_head ul li a{
    color: #333;
}
#page_head ul li a:hover{
    cursor: pointer;
    color:#24a4ff;
    text-decoration: none;
}
#page_head ul li:nth-of-type(1){
    padding-left: 40px;
    border-radius: 0 0 0 100px;
}
#page_head ul li:nth-of-type(5){
    padding-right: 40px;
    border-radius: 0 0 100px 0;
}
.class_page2 .page2_title1{
    padding: 0;
    margin: 0 auto;
    background: #ffffff;
    line-height: 100px;
}
.class_page2{
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
    top: 1080px;
    overflow: hidden;
    padding: 0;
    z-index: 99;
}
.page2_content1{
    background: #ffffff;
    width: 100%;
    padding: 50px 0;
    margin: 0 auto;
}
.page2_headblur{

}
.page2_headblur img{
    width: 100%;
    height: 100%;
}
.page2_content1_img{
    padding: 10px;
}
.page2_content1 .view_more{
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.page2_content1 .view_more a{
    font-size: 20px;
    color: #fff;
}
.page2_content1_img>img{
    box-shadow: 0 2px 15px #ddd;
    border-radius: 5px 5px 0 0;
}
.page2_content1_img img:hover{

}
.page2_content1_img_mask img{
    border-radius: 5px 5px 0 0;
}
.page2_content1_img_mask{
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.page2_content1_img_mask p{
    line-height: 60px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.page2_content1_img_mask .link-top{
    display: inline-block;
    width: 30%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
}
.page2_content1_ui_list .btn_ui0{
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
}
.decorate_div_yellow{
    background: #ffcd00;
    height: 40px;
    width: 20%;
    position: absolute;
    right: -10%;
    top: -3%;
    text-align: center;
    line-height: 40px;
    color: #fff;
}
.btn_view_content1{
    background: #24a4ff;
    width: 100px;
    height: 36px;
    color: #ffffff;
    border-radius: 0;
    margin-top: 30px;
    font-size: 12px;
}
.page2_content2{
    background: #fff;
    padding: 100px 0;
    margin: 0 auto;
    padding-bottom: 300px;
}
.page2_content2 .page2_headblur2{
    height: auto;
}
.page2_headblur2 img{
    width: 100%;
}

#carousel-example-generic .carousel-inner img{
    width: 100%;
}
.class_page2 .page2_title2{
    padding: 0;
    margin: 0 auto;
    background: #fff;
    line-height: 100px;
}
.page2_content2_img{

    background-size: 100% 100%;
    padding-top: 50px;
}
.page2_content2_fluid{
    padding: 30px;
}
.page2_content2_fluid .page2_content3_img{
    padding-top:15px;
    padding-bottom:15px;
}
.carousel-control{
    opacity: 0;!important;
}
.carousel-control:hover{
    opacity: 0.2;!important;
}
.page2_content2_fluid .page2_content3_img img:hover{

}

.page2_content3{
    height: 300px;
    background:#333;
}
#divTyping{
    color: #eee;
    font-size: 20px;
    line-height: 300px;
}